/* top nav */
body > .container {
    margin-top: 60px;
    margin-bottom: 60px;
}
/* top nav */

.align-right
{
text-align: right;
}
.align-center
{
text-align: center;
}
.align-left
{
text-align: left;
}


.hiddencontrols
{

}
.pseudo-p
{
margin-bottom: 10px;
}

/* tags */
.tag_enabled
{
color: #228f00;
}
.tag_disabled
{
color: #8d8d8d;
}
.tag_error
{
color: #ff1b1b;
}

.pieWidget
{
text-align: center;
}

/* folder object */
.folder
{
display: inline-block;
text-decoration: none;
color: #000;
width: 100px;
height: 100px;
}
.folder > div
{
width: 100px;
height: 100px;
position: relative;
background: url('../img/folder-icon.png')no-repeat center center;
background-size: cover;
}
.folder > div > div
{
position: absolute;
top: 50px;
text-align: center;
width: 100%;
}

/* backupsGraph widget */
.backupsGraph > .graphRow
{
position: relative;
height: 30px;
margin-bottom:3px;
border-bottom: 1px solid #e7e7e7;
}
.backupsGraph > .graphRow > .graphIndicator
{
position: absolute;
left: 0px;
top: 0px;
height: 30px;
background: linear-gradient(to top, #edebeb, #f7f5f5);
z-index: 1;
}
.backupsGraph > .graphRow > .graphIndicatorValue
{
position: absolute;
right: 0px;
top: 0px;
height: 30px;
padding-right: 10px;
text-align:right;
z-index: 2;
line-height: 30px;
}
.backupsGraph > .graphRow > .graphLabel
{
position: absolute;
left: 0px;
top: 0px;
height: 30px;
text-align:left;
padding-left: 10px;
line-height: 30px;
z-index: 3;
}


/* backupsGraph widget */

/* footer */
html, body
{
height: 100%;
}
.container
{
position: relative;
z-index: 1;
}
.footer
{
z-index:2;
margin-top: 60px;
}
.footer.sticky
{
position: absolute;
padding-top:20px;
height: 60px;
width:100%;
background: #f5f5f5;
border-top: 1px solid #e7e7e7;
}
/* footer */