.align-right
{
text-align: right;
}
.align-center
{
text-align: center;
}
.align-left
{
text-align: left;
}


.hiddencontrols
{

}
.pseudo-p
{
margin-bottom:10px;
}

/* tags */
.tag_enabled
{
color:#228f00;
}
.tag_disabled
{
color:#8d8d8d;
}
.tag_error
{
color:#ff1b1b;
}

.pieWidget
{
text-align:center;
}

/* folder object */
.folder
{
display:inline-block;
text-decoration:none;
color:#000;
width:100px;
height:100px;
}
.folder > div
{
width:100px;
height:100px;
position:relative;
background:url('../img/folder-icon.png')no-repeat center center;
background-size:cover;
}
.folder > div > div
{
position:absolute;
top:50px;
text-align:center;
width:100%;
}